<!DOCTYPE html>
<html lang="en">
<head>
    <title>Problem Review</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h2>Problem [[${graded}]] of [[${graded + remaining}]]</h2>

<pre class="sticky-problem">[[${problem.content}]]</pre>

<form th:action="@{'/submit/' + ${idx}}" method="post">
    <label>Clarity</label>
    <select name="clarity" required=>
        <option value="">--</option><option>1</option><option>2</option>
        <option>3</option><option>4</option><option>5</option>
    </select>

    <label>Depth</label>
    <select name="depth" required>
        <option value="">--</option><option>1</option><option>2</option>
        <option>3</option><option>4</option><option>5</option>
    </select>

    <label>Difficulty</label>
    <select name="difficulty" required>
        <option value="">--</option><option>1</option><option>2</option>
        <option>3</option><option>4</option><option>5</option>
    </select>
    <br><br>
    <label>Verbosity</label>
    <select name="verbosity" required>
        <option value="">--</option>
        <option value="1">Concise</option>
        <option value="2">Mildly verbose</option>
        <option value="3">Extremely verbose</option>
    </select>

    <br><br>

    <label>Main topic of the problem</label>
    <input type="text" name="main" placeholder="e.g. arrays" required><br><br>

    <label>Other required topics to solve problem (comma-separated)</label>
    <input type="text" name="additional" placeholder="e.g. loops, dynamic programming" size="40px">

    <br><br>

    <label>Overall rating</label>
    <select name="overall" required>
        <option value="">--</option><option>1</option><option>2</option>
        <option>3</option><option>4</option><option>5</option>
    </select><br><br>

    <label>Comments</label>
    <textarea name="comments" rows="4" cols="60"></textarea><br><br>

    <button type="submit">Save and Continue</button>
</form>
</body>
</html>
